[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/stb_image"]
	path = external/stb_image
	url = https://github.com/azaremde/stb
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/glew"]
	path = external/glew
	url = https://github.com/Perlmint/glew-cmake
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/freetype/freetype
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/lua"]
	path = external/lua
	url = https://github.com/walterschell/Lua
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/azaremde/imgui
